/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  background: #ffeeaa url(../img/body-background.jpg) repeat;
  margin: 0px auto;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  body {
    background: #ffeeaa url(../img/body-background.jpg) repeat;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.wrapper {
  overflow-x: hidden;
}
#header {
  width: 649px;
  height: 121px;
  position: relative;
  z-index: 9999;
  max-width: 100%;
  line-height: 30px;
  background: url("../img/header.png") 0px 0px no-repeat;
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
  font-family: Lobster;
}
#header strong {
  font-size: 3rem;
  display: block;
  font-weight: bold;
}
#header span {
  display: block;
  font-size: 2.5rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 6px;
  }
  #header {
    width: 100%;
    line-height: 22px;
    padding-top: 20px;
    background: url(../img/header_responsive1.png) 0px 0 no-repeat;
  }
  #header strong {
    font-size: 2.4rem;
    margin-left: 0px;
  }
  #header span {
    font-size: 2.4rem;
    margin-left: 0px;
  }
}
.banner-area {
  position: relative;
  margin: 0px auto;
  background: url(../img/indian-wed-bg.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;
}
.invitation {
  background: url(../img/invitation.png) no-repeat center top;
  height: 660px;
  width: 750px;
  left: 25%;
  position: absolute;
}
.invitation .groom-name {
  left: 90px;
}
.invitation .bride-name {
  left: auto;
  right: 105px;
}
.invitation .namespace {
  font-size: 6.5rem;
  color: #000;
  text-align: center;
  position: absolute;
  top: 120px;
  line-height: 1.2;
  display: block;
  text-transform: uppercase;
  text-decoration: none !important;
  text-shadow: 2px 2px 0px #FFF, 3px 3px 0px #707070;
  overflow: hidden;
}
.invitation .place {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}
.wedding-date {
  position: absolute;
  bottom: 120px;
  width: 100%;
  text-align: center;
  font-size: 6.5rem;
  color: #ffffff;
  font-weight: normal;
  font-family: Lobster Two;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}
.rsvp-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#rsvp-button img {
  width: 20%;
  display: block;
  margin: auto;
}
.nav-area {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #dfd6d1;
  text-align: center;
  padding: 15px 0;
  background: white;
}
.nav-area a {
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  margin: 0 10px;
}
/* ===================== Story section ==================== */
\ .story-section {
  border-style: solid;
}
.section-container {
  background-color: #f9f8f4;
  padding-top: 80px;
  float: right;
  width: 100%;
  padding-bottom: 20px;
}
.section-inner {
  width: 90%;
  margin: 0 auto;
}
.heading {
  text-align: center;
}
.heading .section-title {
  text-transform: uppercase;
}
.bottomLine {
  width: 100%;
  height: 20px;
  border-top: 0px solid;
  background-image: url(../img/title_line.png);
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
}
.divider-margin1 {
  margin-bottom: 1px;
  margin-top: 37px;
  height: 1px;
}
.tk-left {
  float: left;
  margin-left: 200px;
}
.tk-right {
  float: right;
  margin-right: 200px;
}
.story-section-about {
  width: 371px;
  max-height: 484px;
  background-image: url(../img/user-box.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.story-section-about .about-image {
  margin-top: 10px;
}
.story-section-about .about-title {
  text-align: center;
  padding: 0px 20px;
  color: #fa6dab !important;
  margin-bottom: 0px;
  font-family: "Lobster Two";
  font-size: 3.2rem;
  margin-top: 28px;
}
.story-section-about .about-subtitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #686763;
  display: block;
  padding: 0px 20px;
  padding-top: 2px;
}
.story-section-about .about-content {
  font-size: 1.2rem;
  line-height: 20px;
  color: #a7a6a2;
  padding: 30px 39px 45px 39px;
  text-align: left;
}
.story-about-icon {
  width: 142px;
  height: 45px;
  font-size: 48px;
  float: left;
  text-align: center;
  line-height: 45px;
  margin-bottom: 20px;
  margin-top: 247px;
  color: #fa6dab !important;
}
@media only screen and (max-width: 768px) {
  .tk-left {
    margin-left: 0;
  }
  .tk-right {
    margin-right: 0;
  }
  .story-section-about {
    width: 100%;
  }
  .story-about-icon {
    margin-top: 15px;
    width: 100%;
  }
}
/* ====== Ceremony Schedule ========== */
.cursorPointer {
  cursor: pointer;
}
.ceremony-item h3 {
  font-family: "Lobster Two";
  padding-bottom: 10px;
}
.ceremony-item img {
  width: 100%;
}
.ceremony-item p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8rem;
  color: #404040;
}
.ceremony-item h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.4rem;
  color: #414141;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
/* ============= Family ===============*/
#section-family-groom .slideshow,
#section-family-bride .slideshow {
  display: block;
  height: auto;
  padding: 0 20%;
  margin-top: -50px;
}
#section-family-groom .item,
#section-family-bride .item {
  height: 475px;
  list-style: none outside none;
  position: relative;
}
#section-family-groom img,
#section-family-bride img {
  bottom: 0;
  left: 50px;
  position: absolute;
}
#section-family-groom .person,
#section-family-bride .person {
  background: url("../img/bg-groomsmen.png") no-repeat scroll 0 0 transparent;
  height: 100%;
  padding: 25px 50px 40px 70px;
  position: absolute;
  right: 0;
  left: 200px;
  top: 120px;
  text-align: left;
}
#section-family-groom .person .name,
#section-family-bride .person .name {
  color: #555555;
  font-size: 30px;
  font-style: italic;
  margin: 0 0 5px;
}
#section-family-groom .person .title,
#section-family-bride .person .title {
  color: #999999;
  font-size: 18px;
}
#section-family-groom .person .bio,
#section-family-bride .person .bio {
  color: #8F8F8F;
  font-size: 12px;
  line-height: 1.5;
  margin: 30px 0 0;
}
#section-family-groom .owl-prev,
#section-family-bride .owl-prev {
  position: absolute;
  left: 0px;
  top: 50%;
  font-size: 2rem;
}
#section-family-groom .owl-prev:before,
#section-family-bride .owl-prev:before {
  font-family: FontAwesome;
  content: "\f104";
}
#section-family-groom .owl-next,
#section-family-bride .owl-next {
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 2rem;
}
#section-family-groom .owl-next:before,
#section-family-bride .owl-next:before {
  font-family: FontAwesome;
  content: "\f105";
}
.wedding-section {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .modal-dialog {
    width: 630px;
  }
}
.custom_footer {
  color: white;
  height: 50px;
  background: #2B2A2D;
  position: absolute;
  bottom: 12px;
  z-index: 10000;
  width: 100%;
}
.custom_footer .fbLink {
  font-size: 4rem;
}
@media only screen and (max-width: 768px) {
  .banner-area {
    background: url(../img/bg_iphone5.jpg) no-repeat;
    background-size: cover;
  }
  .invitation {
    background: url(../img/invitation_responsive1.png) no-repeat center top;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .invitation .groom-name {
    left: 35px;
  }
  .invitation .bride-name {
    right: 45px;
  }
  .invitation .namespace {
    font-size: 5rem;
    top: 150px;
  }
  .rsvp-button-container {
    width: 100%;
  }
  #rsvp-button img {
    width: 60%;
  }
  .about-content {
    font-size: 1.4rem;
  }
}
/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  /* Styles */
  html {
    font-size: 6px;
  }
  #header {
    width: 100%;
    line-height: 22px;
    padding-top: 20px;
    background: url(../img/header_responsive1.png) 50% 0 no-repeat;
  }
  .banner-area {
    background: url(../img/bg_iphone5.jpg) no-repeat;
    background-size: cover;
  }
  .invitation .groom-name {
    left: 13%;
  }
  .invitation .bride-name {
    right: 15%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  /* Styles */
  html {
    font-size: 6px;
  }
  #header {
    width: 100%;
    line-height: 22px;
    padding-top: 20px;
    background: url(../img/header_responsive1.png) 50% 0 no-repeat;
  }
  .invitation .groom-name {
    left: 17%;
  }
  .invitation .bride-name {
    right: 22%;
  }
}
@media only screen and (min-width: 475px) and (max-width: 768px) {
  /* Styles */
  html {
    font-size: 6px;
  }
  #header {
    width: 100%;
    line-height: 22px;
    padding-top: 20px;
    background: url(../img/header_responsive1.png) 50% 0 no-repeat;
  }
  .invitation .groom-name {
    left: 22%;
  }
  .invitation .bride-name {
    right: 23%;
  }
  .invitation .namespace {
    font-size: 5rem;
    top: 150px;
  }
  #rsvp-button img {
    width: 45%;
  }
}
@media only screen and (min-width: 765px) and (max-width: 1024px) {
  html {
    font-size: 6px;
  }
  .banner-area {
    background: url(../img/bg_768px.jpg) no-repeat;
    background-size: cover;
  }
  .invitation .groom-name {
    left: 32.5%;
  }
  .invitation .bride-name {
    right: 32.5%;
  }
  #rsvp-button img {
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .invitation {
    left: 15%;
  }
  .invitation .groom-name {
    left: 12%;
  }
  .invitation .bride-name {
    right: 12%;
  }
  .tk-left {
    margin-left: 0px !important;
  }
  .tk-right {
    margin-right: 0px !important;
  }
}
